<h1>Add a new Project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project title</label>
    <input id="title" name="title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add Project</button>
</form>