<h3>Available Projects</h3>
<% if @projects.any? %>
  <ul> <% @projects.each do |project| %>      
    <li> <a href="/projects/<%= project.id %>"><strong><%= project.title %></strong></a> </li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no Projects to display.</p>
<% end %>


<form action="/projects" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Remove ALL Projects and Volunteers?</button>
</form>

<h2>Create a project here!</h2>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project title</label>
    <input id="title" name="title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>
